.register-body {
    font-family: system-ui;
    background: black;
    color: white;
    text-align: center;
    min-height: 70vh;
    padding-top: 9rem;
}

a {
    color: #06aee4;
}

.note {
    color: darkgray;
}

.register-btn {
    background: #06ce49;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    animation: pulse 3s infinite ease-out;
}

@keyframes pulse {
    from {
        box-shadow: 0px 0px 6px 0px #bdc1c3fa;
    }
    to {
        box-shadow: 0px 0px 6px 5px #bdc1c3fa;
    }
}